.headerContainer {
    display: flex;
    height: 60px;
    background-color: #FCFCFC;
    justify-content: flex-end;
    align-items: center;
}

.mainContainer{
    background-color: #F9F9FA;
    height: 95vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}