.headerContainer {
    display: flex;
}

.headerContainer > div {
    margin: 5px;
    padding: 10px;
    border: 1px solid;
}

.mainContainer{
    background-color: #eae8e8;
    height: 95vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}