.headerContainer {
    display: flex;
    height: 60px;
    background-color: #cbc8c8;
    justify-content: flex-end;
    align-items: center;
}

.mainContainer{
    background-color: #eae8e8;
    height: 95vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}