.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 1%;
    border: gray 1px solid;
    width: 413px;
    font-family: 'Montserrat', sans-serif;
    min-height: 460px;

}

.inputGroup {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}
